<pre>Duration: {{ Games.data|state:$state.params.state|sumGamesDuration|duration }}
Games: {{ (Games.data|state:$state.params.state).length }}

State: {{$state|json}}
</pre>

<div>
	<div class="btn-group">
		<a
			ui-sref="games.state({state: 'all', offset: 0, limit: $state.params.limit})"
			class="btn btn-default"
			ng-class="{active: $state.params.state == 'all'}"
		>All</a>
		<a
			ui-sref="games.state({state:state, offset: 0, limit: $state.params.limit})"
			class="btn btn-default"
			ng-class="{active: $state.params.state == state}"
			ng-repeat="state in Game.states"
		>{{state|inflector:"humanize"}}</a>
	</div>
</div>

<nav class="pagination">
	<li
		ng-repeat="page in (Games.data|state:$state.params.state|pagination:$state.params.limit: $state.params.offset)"
		ng-class="{active: $state.params.offset == Paginator.calcOffset($state.params.limit, page)}"
	>
		<a
			ui-sref="games.state({state: $state.params.state, limit: $state.params.limit, offset: Paginator.calcOffset($state.params.limit, page) })"
			title="{{ (page - 1) * $state.params.limit }}"
			ng-if="page>0"
		>{{page}}</a>
		<span ng-if="page<0">...</span>
	</li>
</nav>

<nav class="pagination pull-right">
	<li
		ng-repeat="limit in Paginator.limits"
		ng-class="{active: limit == $state.params.limit}"
	>
		<a
			ui-sref="games.state({state: $state.params.state, limit: limit, offset: 0})"
		>{{limit}}</a>
	</li>
</nav>

<nav class="list-group">
	<a
		ui-sref="game({gameID:game.id})"
		class="list-group-item"
		ng-repeat="game in (Games.data|state:$state.params.state|orderBy:'-(sessions|last).start'|page:$state.params.limit:$state.params.offset)"
	>
		<i
			class="glyphicon"
			ng-class="{
				'glyphicon-pause text-warning': game.state == 'active' && (game|isPlaying),
				'glyphicon-play': game.state == 'active' && !(game|isPlaying),
				'glyphicon-ok text-success': game.state == 'finished',
				'glyphicon-remove text-danger': game.state == 'dropped',
				'glyphicon-star text-warning': game.state == 'wish',
				'glyphicon-lock text-muted': game.state == 'hold'
			}"
		></i>
		{{game.title}}
		<span class="pull-right">{{game.sessions|sumSessionsDuration|duration}}</span>
	</a>
</nav>
