<pre>Duration: {{ Games.data|state:$state.params.state|sumGamesDuration|duration }}
Games: {{ (Games.data|filter:{state:Games.showState}).length }}

State: {{$state|json}}

Pages: {{(Games.data|pages:Games.pages.amount:Games.pages.offset).length}}
</pre>

<div>
	<div class="btn-group">
		<a
			ui-sref="games"
			class="btn btn-default"
			ng-class="{active: !$state.params.state}"
		>All</a>
		<a
			ui-sref="games.state({state:state})"
			class="btn btn-default"
			ng-class="{active: $state.params.state == state}"
			ng-repeat="state in Game.states"
		>{{state|inflector:"humanize"}}</a>
	</div>
</div>
<nav 
	ng-controller="Pagination"
	class="pagination"
>
	<li ng-if="(nearPages()[0]>1) && (pages.length > 6)" ng-class="{active: (currentPage() + 1) == page}">
		<a href ng-click="changePage(1)">1</a>
	</li>
	<li ng-if="(nearPages()[0]>1) && (pages.length > 6)"><span>...</span></li>

	<li ng-repeat="page in nearPages()" ng-class="{active: (currentPage() + 1) == page}">
		<a href ng-click="changePage(page)">{{page}}</a>
	</li>

	<li ng-if="((nearPages()|last) !== pages.length) && (pages.length > 6)"><span>...</span></li>
	<li
		ng-if="((nearPages()|last) !== pages.length) && (pages.length > 6)"
		ng-class="{active: (currentPage() + 1) == page}"
	>
		<a href ng-click="changePage((pages|last))">{{pages|last}}</a>
	</li>
</nav>
<nav class="pagination pull-right">
	<li
		ng-repeat="amount in Games.pages.amounts"
		ng-class="{active: amount == Games.pages.amount}"
	>
		<a href ng-click="Games.pages.amount = amount">{{amount}}</a>
	</li>
</nav>

<nav class="list-group">
	<a
		ui-sref="game({gameID:game.id})"
		class="list-group-item"
		ng-repeat="game in games"
	>
		<i
			class="glyphicon"
			ng-class="{
				'glyphicon-pause text-warning': game.state == 'active' && (game|isPlaying),
				'glyphicon-play': game.state == 'active' && !(game|isPlaying),
				'glyphicon-ok text-success': game.state == 'finished',
				'glyphicon-remove text-danger': game.state == 'dropped',
				'glyphicon-star text-warning': game.state == 'wish',
				'glyphicon-lock text-muted': game.state == 'hold'
			}"
		></i>
		{{game.title}}
		<span class="pull-right">{{game.sessions|sumSessionsDuration|duration}}</span>
	</a>
</nav>
