<header ng-controller="Navigation" class="navbar">
	<a class="navbar-brand" href="#/index">Timer</a>
	<nav class="nav navbar-nav">
		<li ng-class="{active: $state.is('games') || $state.is('games.state')}">
			<a ui-sref="games">Games</a>
		</li>
		<li ng-class="{active: $state.is('settings')}">
			<a ui-sref="settings">Settings</a>
		</li>
	</nav>
	<form
		class="navbar-form pull-right input-group"
		ng-cont_roller="GamesAdder"
		ng-submit="
			Games.add({title:title});
			title='';
			$state.transitionTo('game', {gameID: (Games.data|last).id});
		"
		style="width: 300px"
	>
		<input
			type="text"
			class="form-control"
			ng-model="title"
			name="title"
			required
			placeholder="New game title"
		>
		<span class="input-group-btn">
			<button
				type="submit"
				class="btn btn-primary"
				ng-disabled="newGame.$invalid"
			>
				<i class="glyphicon glyphicon-plus"></i>
			</button>
		</span>
	</form>
</header>